---
import { SITE_DESCRIPTION, SITE_TITLE } from "~utils/consts";

export type Props = {
  title?: string;
  description?: string;
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

const ogImageUrl = `https://blog-og-image-three.vercel.app/api/og?${new URLSearchParams(
  { title: title.replace(" | Krzysztof Żuraw", ""), description }
).toString()}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageUrl} />

<!-- Twitter -->
<meta name="twitter:dnt" content="on" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageUrl} />

<!-- RSS -->
<link
  rel="alternate"
  href="/rss.xml"
  type="application/atom+xml"
  title={SITE_TITLE}
/>
<link
  rel="alternate"
  href="https://feedbin.com/starred/97b1c82a106767ca5f271cfe50986280.xml"
  type="application/atom+xml"
  title="Krzysztof Żuraw: Starred"
/>

<!-- Other -->
<meta name="format-detection" content="telephone=no" />
<meta
  name="google-site-verification"
  content="tR_LweHgS5tgCDfxrSRS-a8gMqgkJiXO6qUbxuWEaLY"
/>
<meta name="theme-color" content="#000000" />
