---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";

import Meta from "~components/Meta.astro";
import metadata from "~data/metadata.json";

import BaseLayout from "./Base.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<BaseLayout>
  <Meta
    title={`${title} | ${metadata.title}`}
    description={description}
    slot="meta"
  />
  <article
    class="prose mx-auto font-serif dark:prose-invert lg:prose-xl prose-headings:font-sans"
  >
    <h1>{title}</h1>
    <time
      datetime={pubDate.toISOString()}
      class="text-gray-600 dark:text-gray-300"
      >{format(pubDate, "dd MMMM	yyyy")}</time
    >
    <slot />
  </article>
</BaseLayout>
